<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Alerts_Generator.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Alerts_Generator.My.MySettings>
            <setting name="AlertsScriptTemplatePath" serializeAs="String">
                <value />
            </setting>
            <setting name="AlertsScriptResultPath" serializeAs="String">
                <value />
            </setting>
            <setting name="AlertsJsonResultPath" serializeAs="String">
                <value />
            </setting>
            <setting name="MyDataPath" serializeAs="String">
                <value />
            </setting>
            <setting name="AlertTypeHeading" serializeAs="String">
                <value />
            </setting>
            <setting name="FilenameHeading" serializeAs="String">
                <value />
            </setting>
            <setting name="FormattedTitle" serializeAs="String">
                <value />
            </setting>
        </Alerts_Generator.My.MySettings>
    </userSettings>
</configuration>